*{
  margin: 0px;
  padding: 0px;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #353535;
  justify-content: center;
  align-items: center;
}


.left-section {
  width: 30vw;
  height: 100vh;
  color: #c830ff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 20px;
}

.right-section {
  width: 70vw;
  height: 100vh;
}

::-webkit-scrollbar-thumb {
  background-color: #3498db; /* Set the color of the thumb (the draggable part of the scrollbar) */
}

/* For Firefox */
/* Note: Firefox allows styling only the scrollbar thumb, not the entire scrollbar */
* {
  scrollbar-color: #3498db white; /* Set the color of the thumb and the track (the area the thumb moves along) */
}